/*Upcoming.css*/
.carouselevent{
  width: 90%;
  height: 60vw;
  margin: 0 auto;
}

.head{
margin: 7vw 9vw 0vw;
border: 0.2vw solid;
width: 80vw;
display: flex;
height: 11vw;
border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
animation: borderRotate var(--d) linear infinite forwards;
align-items: center;
justify-content: center;
}

.eventHeading{
font-family: 'Satoshi-Bold';
font-style: normal;
font-weight: 700;
font-size: 5vw;
line-height: 4vw;
text-align: center;
text-shadow: var(--bg-gray-dark) .5vw .3vw;
letter-spacing: 1.2vw;
}

.Uevent{
  height: 40vw;
  width: 40vw;
}

@media (max-width:675px){
.eventHeading{
  text-shadow: var(--bg-gray-dark) 1vw .2vw;
}
}